body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline ;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

table{
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 20px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}